.home {
  .alert-wrapper {
    top: 30px;
    position: absolute;
    right: 30px;

    .close-icon {
      cursor: pointer;
      font-size: 32px;
    }
  }

  .right-enter-active, .right-leave-active {
    transform: translate(0px, 0px);
    transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  .right-enter, .right-leave-to {
    transform: translateX(650px) translateX(0px);
  }
}
