v-container.home
  v-row(justify="center", align-content="center", style="height: calc(100vh - 200px);")
    v-col(cols=12)
      img(alt="Vue logo" src="../../assets/logo.png")
    v-col(cols=12)
      .display-1 Hello Vue
    v-col(cols=12)
      v-icon add
      v-icon mdi-mouse
    v-col(cols=12)
      v-data-table(
        :headers="tableHeaders", :items="tableItems"
        :options.sync="tableOptions", hide-default-footer
      )
  .alert-wrapper
    transition(appear name="right")
      v-alert.text-left(
        type="info", width="500px", prominent
        color="green lighten-1"
        v-show="alertFlag"
      )
        v-row(align="center")
          v-col.title.font-weight-bold(cols=10) アラートだよ
          v-col.text-right(cols=2)
            v-icon.close-icon(@click="alertFlag = false") mdi-close-circle-outline
